<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h2>MENU</h2></div>

  <!-- Table -->
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price for small portion</th>
        <th>Price for large portion</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in items">
        <td >{{$index+1}}</td>
        <td>{{item.name}}</td>
        <td>{{item.description}}</td>
        <td>{{item.price_small}}</td>
        <td>{{item.price_large}}</td>
        <td>
          <button ng-click='onRemove({index: $index});' class="btn btn-xs btn-danger" type="button"><span class="glyphicon glyphicon-remove"></span> Don't want this one!</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="text-danger" ng-if="items.isEmpty()"><h4>Nothing found.</h4></div>
