<div class="container text-center">
  <div ng-if="userInfoCtrl.registered" class="container">
    <div class="">
        <h3>{{userInfoCtrl.userInfo.firstName}} {{userInfoCtrl.userInfo.lastName}}</h3>
        <p>{{userInfoCtrl.userInfo.email}}</p>
        <p>{{userInfoCtrl.userInfo.phone}}</p>
    </div>
    <div >
      <div>
        <menu-item ng-if="userInfoCtrl.hasFavorite" menu-item="userInfoCtrl.menuItem"></menu-item>
      </div>
      <h3 ng-if="!userInfoCtrl.hasFavorite">Favorite item not specified.</h3>
    </div>
  </div>
  <div ng-if="!userInfoCtrl.registered" class="">
    <h3><b>Not Signed Up Yet.</b></h3>
    <button class="btn btn-success" ui-sref="public.signup" type="button" name="button">Sign up Now!</button>
  </div>
</div>
